# NOTE: This file is parsed by .ci/generate_bear_requirements.py
# Use >= for development versions so that source builds always work
git+https://github.com/jayvdb/coala@Setting-path-value
# Dependencies inherited from coala
# libclang-py3
# coala_utils
# dependency_management
# requests
-r bear-requirements.txt
